/* CSS Document */
body{
	background-color: #02010a;
	font-family: "Dancing Script";
}
#contenido{
	width: 900px;
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
}
#contenido header, #contenido main, #contenido footer{
	width: 100%;
}
header{
	background-color: #5b7989;
	text-shadow: 2px #02010a;
	padding: 10px 10px;
	border-radius: 10px 10px 0 0;
	color: white;
	display: flex;
	flex-direction: row ;
}
header nav{
	margin-top: 30px;
	font-size: 1.3em;
	margin-left: 250px;
}
header a{
	color: white;
}
header nav ul{
	width: 100%;
	margin: 0 auto;
	list-style: none;
}
header nav li{
	display: inline;
	margin: 5px;
}
#img_principal{
	background-color: #82c3a6;
	text-align: center;
	padding: 5% 2%;
}
#img_principal img{
	width: 70%;
	margin: 0 auto;
}
#img_secundarias{
	background-color: #d5c75f;
	border: 1px;
	padding: 5% 5%;
	display: flex;
	flex-direction: row;
}
#img_secundarias div{
	text-align: center;
}
#img_secundarias div img{
	margin: 0 auto;
	width: 100%;
}
#img_secundarias a{ 
	color:black
}
footer{
	background-color: #C6d5c5;
	display: flex;
	flex-direction: row;
	padding: 5% 2%;
	border-radius: 0 0 10px 10px;
}
footer div{
	margin: 0 auto;
}
footer ul{
	list-style: none;
}
footer img{
	height: 15px;
	width: 15px;
}
#paisajes{
	transition-property: transform, box-shadow;
	transition-duration: 1s, 1s;
}
#paisajes:hover{
	transform: rotateZ(10deg);
	box-shadow: 2px 2px 2px #82c3a6;
	border: 2px;
}
#retratos{
	transition-property: transform, box-shadow;
	transition-duration: 1s, 1s;
}
#retratos:hover{
	transform: translateX(20px) translateY(-5px);
	box-shadow: 2px 2px 2px #82c3a6;
	border: 2px;
}
.galeria{
	display: flex;
	flex-flow: row wrap;
	text-align: center;
}
.galeria div{
	margin: 10px;
	padding-left: 1px;
	
}
.galeria img{
	margin: 0 auto;
	width: 97%;
}
.galeria div:first-child img{
	-webkit-filter:blur(10px);
	filter: blur(10px);
}
.galeria div:nth-child(even) img{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%)
}
.galeria div:nth-child(3) img{
	-webkit-filter: sepia(90%);
	filter: sepia(90%);
}